body {
  background-color:  #E9ECEF;
}




.text {
  text-align:  center;
  margin-top: 100px;
}

.products img:hover {
  opacity: 0.7;
  cursor: pointer;
}


.social-media{
text-align: center;
margin-top: 20px;
    
}
.social-media i {
    width: 50px;
}

.social-media i:hover {
    
 color: black;
 cursor: pointer;
 transform: scale(1,1.5);
 

}


#btn-one{
  color: #E9ECEF;
  
}


